<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationword.locationword">
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    //读取设备硬件信息，统计数据
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //允许sd卡写权限，需写入地图数据，禁用后无法显示地图
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:versionName="1.0"
        android:versionCode="1"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app.application"
        android:theme="@style/AppTheme">
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1134180704253085#locationword" />
        <meta-data android:value="YOUR_APP_KEY" android:name="5bd67c0ab465f530ac00004b"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="C8lihD3VeuBWGOdTHFDq6ZKQGexReUnB" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".AddGroupActivity"></activity>
        <activity android:name=".ForgetPasswordActivity"></activity>
        <activity android:name=".GroupManagerActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".ChangeGroupNameActivity"></activity>
        <activity android:name=".InviteGroupManActivity"></activity>
        <activity android:name=".ChangeGroupOwnerActivity"></activity>
        <activity android:name=".DeleteGroupManActivity"></activity>
        <activity android:name=".GroupManDetailActivity"></activity>
        <activity android:name=".WNaviGuideActivity"></activity>
        <activity android:name=".BNaviGuideActivity"></activity>
        <activity android:name=".SetActivity"></activity>
        <activity android:name="com.hyphenate.easeui.ui.VideoCallActivity"></activity>
        <activity android:name="com.hyphenate.easeui.ui.VoiceCallActivity"></activity>
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"></activity>
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"></activity>
    </application>

</manifest>